* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
	font-size: 13px;
}
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular.eot');
    src: url('../fonts/kaushanscript-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaushanscript-regular.woff2') format('woff2'),
         url('../fonts/kaushanscript-regular.woff') format('woff'),
         url('../fonts/kaushanscript-regular.ttf') format('truetype'),
         url('../fonts/kaushanscript-regular.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.wrapper{
	margin:20px auto;
	text-align:center;
	background:#fff;
	width:414px;
	border-radius: 5px;
}
.action-bar{
	margin-bottom:10px;
	display: table;
	width: 100%;
}
.col-left, .col-right {
	display: table-cell;
	text-align: left;
}
.col-right {
	text-align: right;
}
.player-info {
	margin: 20px 0;
}
.player-info input {
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #ccc;
}
.action-bar button {
	padding: 5px;
	border-radius: 2px;
	background: linear-gradient(#fff, #ddd);
	border: 1px solid #ccc;
}
.status-bar{
	margin-top:10px;
	height:25px;
	line-height:25px;
	font-weight:bold;
	border:1px dashed black;
}
.board{
	box-shadow: 0 0 30px #777;
	margin:30px auto;
	font-family: "kaushan_scriptregular";
	border-radius: 5px;
}
.row{
	display:table-row;
}
.col{
	width:138px;
	height:138px;
	display:table-cell;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	cursor:pointer;
}
.col .symbol{
	font-size:84px;
	line-height: 136px;
	color:#999;
}
.col .symbol.won{
	color:green;
}
.col:last-child{
	border-top:0;
	border-right:0;
}
.row:last-child > .col{
	border-bottom:0;
}

.game-stats {
	display: table;
	width: 100%;
}
.game-stats .cell {
	display: table-cell;
	width: 33%;
}
.game-stats p, .game-stats strong {
	display: block;
	padding: 5px 0;
}