<div class="wrapper" >
	<h1>Tic Tac Toe</h1>
	<div class="player-info">
		<label for="human_player_name">Player</label> 
		<input type="text" value="{{human_player_name}}" ng-model="human_player_name" id="human_player_name" />
	</div>
	<div class="action-bar">
		<div class="col-left">
			<button id="start-game" ng-click="startGame()">New game</button>
		</div>
		<div class="col-right">
			<button id="reset-scores" ng-click="resetScores()">Reset Scores</button>
		</div>
		<div class="col-right">
			<input type="checkbox" value="{{computer_first}}" ng-model="computer_first" ng-checked="computer_first" />
			<label>Computer First</label>
		</div>
	</div>

	<div class="tictactoe">
		<div class="board">
			<div ng-repeat="row in grid track by $index" class="row">
				<div ng-repeat="col in grid track by $index" data-col="{{$index}}" data-row="{{$parent.$index}}" class="col" ng-click="makeMove($index, $parent.$index)">
					<span ng-class="{'symbol':true, 'won':isSquareInWinningCombo($index, $parent.$index)}">{{getSquareSymbol($index, $parent.$index)}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="status-bar" ng-show="status_message.length > 0">{{status_message}}</div>

	<div class="game-stats ">
		<div class="cell">
			<p>Computer Wins</p>
			<strong>{{computer_win_count}}</strong>
		</div>
		<div class="cell">
			<p>{{human_player_name}} Wins</p>
			<strong>{{human_win_count}}</strong>
		</div>
		<div class="cell">
			<p>Ties</p>
			<strong>{{tie_count}}</strong>
		</div>
	</div>
</div>